@model CreditCardFraudDetectionML.Model.ModelInput

@{
    ViewData["Title"] = "Predict";
}

<h1>Predict</h1>

<h4>ModelInput</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Predict">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="V1" class="control-label"></label>
                <input asp-for="V1" class="form-control" />
                <span asp-validation-for="V1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="V2" class="control-label"></label>
                <input asp-for="V2" class="form-control" />
                <span asp-validation-for="V2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="V3" class="control-label"></label>
                <input asp-for="V3" class="form-control" />
                <span asp-validation-for="V3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="V4" class="control-label"></label>
                <input asp-for="V4" class="form-control" />
                <span asp-validation-for="V4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="V5" class="control-label"></label>
                <input asp-for="V5" class="form-control" />
                <span asp-validation-for="V5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="V6" class="control-label"></label>
                <input asp-for="V6" class="form-control" />
                <span asp-validation-for="V6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="V7" class="control-label"></label>
                <input asp-for="V7" class="form-control" />
                <span asp-validation-for="V7" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="V8" class="control-label"></label>
                <input asp-for="V8" class="form-control" />
                <span asp-validation-for="V8" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="V9" class="control-label"></label>
                <input asp-for="V9" class="form-control" />
                <span asp-validation-for="V9" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="V10" class="control-label"></label>
                <input asp-for="V10" class="form-control" />
                <span asp-validation-for="V10" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="V11" class="control-label"></label>
                <input asp-for="V11" class="form-control" />
                <span asp-validation-for="V11" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="V12" class="control-label"></label>
                <input asp-for="V12" class="form-control" />
                <span asp-validation-for="V12" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="V13" class="control-label"></label>
                <input asp-for="V13" class="form-control" />
                <span asp-validation-for="V13" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="V14" class="control-label"></label>
                <input asp-for="V14" class="form-control" />
                <span asp-validation-for="V14" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="V15" class="control-label"></label>
                <input asp-for="V15" class="form-control" />
                <span asp-validation-for="V15" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="V16" class="control-label"></label>
                <input asp-for="V16" class="form-control" />
                <span asp-validation-for="V16" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="V17" class="control-label"></label>
                <input asp-for="V17" class="form-control" />
                <span asp-validation-for="V17" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="V18" class="control-label"></label>
                <input asp-for="V18" class="form-control" />
                <span asp-validation-for="V18" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="V19" class="control-label"></label>
                <input asp-for="V19" class="form-control" />
                <span asp-validation-for="V19" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="V20" class="control-label"></label>
                <input asp-for="V20" class="form-control" />
                <span asp-validation-for="V20" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="V21" class="control-label"></label>
                <input asp-for="V21" class="form-control" />
                <span asp-validation-for="V21" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="V22" class="control-label"></label>
                <input asp-for="V22" class="form-control" />
                <span asp-validation-for="V22" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="V23" class="control-label"></label>
                <input asp-for="V23" class="form-control" />
                <span asp-validation-for="V23" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="V24" class="control-label"></label>
                <input asp-for="V24" class="form-control" />
                <span asp-validation-for="V24" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="V25" class="control-label"></label>
                <input asp-for="V25" class="form-control" />
                <span asp-validation-for="V25" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="V26" class="control-label"></label>
                <input asp-for="V26" class="form-control" />
                <span asp-validation-for="V26" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="V27" class="control-label"></label>
                <input asp-for="V27" class="form-control" />
                <span asp-validation-for="V27" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="V28" class="control-label"></label>
                <input asp-for="V28" class="form-control" />
                <span asp-validation-for="V28" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
